
/* universe */
*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}



/* header section */
    .header{
        width: 100%;
        height: 800px;
        background-image: url('../asset/images/banner/banner1.png');
        background-repeat: no-repeat; 
    }
    



    /* header-banner style */
   .header-banner{
        margin-right: 0px;
        padding-top: 280px;
        padding-right: 150px;
        text-align:right;
    }

    .header-banner-title{
        font-weight: 700;
        font-size: 65px;
    }
    .header-banner p{
        margin-bottom:10px;
    }
    .header-btn-contact{
        margin-top: 10px;
        padding: 20 25;
        border: 0px;
        border-radius: 5px;
        width: 160px;
        height: 64px;
        color: #FFFFFF;
        background-color: #F15B22;
        font-weight: 600;
        font-size: 20px;
    }




    /* main section */
    .main-banner{
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        /* gap: 24px; */
    }
    .person{
        align-items: center;
    }
    /* .main-banner-discription{
        
    } */
    .main-banner img{
        margin: 130px 200px;
        width: 500px;
        height: 600px;
        
    }
    .main-banner-discription{
        /* margin-left: 150px; */
        width: 400px;
        height: 500px;
        margin-right: 50px;
        align-items: center;
    }
    .main-banner-discription h3{
        font-weight: 700;
        font-size: 40px;
    }

    .main-banner-discription p{
        margin: 5px;
        padding: 10px 0px;
        text-align: left;
    }
    
    ul li{
        margin: 5px;
        padding: 5px 10px;
        list-style: none;
    }




    /* My plans section */
    .plans{
        margin: 130px 200px;
        /* border: #F15B22 solid 2px; */
        width: 1140px;
        height: 300px;
        /* justify-content: center;
        align-items: center; */
    }
    .plans h3{
        text-align: center;
        margin:  40px;
        font-weight: 700;
        font-size: 40px;
        
    }

    .plan-icons{
        margin: 10px 20px;
        /* border: #F15B22 solid 2px; */
        display: flex;
        justify-content: center;
        gap: 100px;
    }
    .plans-details{
       align-items: center;
    }
    .plans-details img{
        margin-left: 0px;
        padding-bottom: 10px;
        width: 90px;
        height: 90px;

    }
    .plans-details p {
        /* text-align: center; */
        color: #737272;
        
    }
    .plan-title{
        font-weight: 700;
        font-size: 30px;
    }

    /* positive section */
    .positive{
        margin: 130px 200px;
        width: 1140px;
        height: 300px;
        background-image:url('../asset/images/gradient2.png'), url('../asset/images/watch.png');
        background-position: center, center;
        background-repeat: no-repeat;
    }

    .hand-clock{
        padding: 60px 50px;
    }
    .hand-clock h5{
        font-weight: 700;
        font-size: 40px;
        text-align: left;
    }

    .btn-hand-clock{
        width: 160px;
        height: 64px;
        border: 0;
        border-radius: 5px;
        color: #F15B22;
        background-color: #FFFFFF;
        font-weight: 600;
        font-size: 20px;
    }



    /* footer section */
    footer{
        height: 577px;
        background: #151414;
        color: #F8F8F8;
        display: flex;
    }

    /* footer left */
    .footer-left{
        width: 485px;
        height: 317px;
        margin: 130px 200px;
    }
    .footer-left h5{
        font-weight: 700;
        font-size: 45px;
        margin-bottom: 10px;
    }

    .email{
        margin: 10px 0px;
    }
    .phone{
        margin: 10px 0px;
    }
    .footer-icon{
        padding: 10px 0px;
    }
    .footer-icon img{
        padding:  10px;
    }



    /* footer-right */
    .footer-right{
        width: 325px;
        height: 204px;
        margin: 130px 200px;
    }
    .footer-right h6{ 
        margin: 10px 5px;
        font-weight: 600;
        font-size: 25px;

    }
    .footer-right p{
        font-weight: 400;
        font-size: 16px;
        text-align: left;
        margin: 10px;
        padding: 10px;
    }
   
    .footer-right input{
        margin-bottom: 24px;
        border: 0;
        /* width: 325px;
        height: 64px; */
        padding: 18px 30px;
        border: #737272 1px solid;
        border-radius: 5px;
        background-color: #151414;
    }
    .btn-footer-Subscribe{
        width: 150px;
        height: 50px;
        border-radius: 5px;
        color: #F15B22;
        font-weight: 600;
        font-size: 20px;
    }
